@import url('variables.css');

/* Card */
.card {
  color: var(--tertiary-color);
  border: 1px solid transparent !important;
}

.card:hover {
  border: 1px solid var(--primary-color) !important;
}

.card .card-img-top {
  height: 350px;
  object-fit: cover;
}

.card .card-title {
  font-family: Oswald;
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: 2px;
}

.card .food-description {
  font-family: Quicksand;
}

.card .food-price {
  font-family: Oswald;
  font-size: 16pt;
  font-weight: 500;
  color: var(--secondary-color);
}