@import url('variables.css');

.header-reserva {
  background-image: url(../img/fondo-textura.jpg);
  background-size: cover;
}

.header-reserva div p {
  color: var(--tertiary-color);
}

.header-reserva div p:first-child {
  font-family: Oswald;
  font-size: 23pt;
  font-weight: 700;
  letter-spacing: 3px;
}

.header-reserva div p:nth-child(2) {
  font-family: Quicksand;
  font-size: 14pt;
  font-weight: 500;
}

#reservaForm button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-family: Oswald;
  letter-spacing: 2px;
  /* border: 0 !important; */
  border-color: var(--secondary-color);
  padding: 8px 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

#reservaForm button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#reservaForm .form-control,
#reservaForm .form-select {
    color: var(--primary-color) !important;
    border: none !important;
    border-bottom: 1px solid var(--primary-color) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.input-group-text {
  border: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

#reservaForm svg {
  color: var(--primary-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.content-reserva {
  background-image: url(../img/reserva-fondo.jpg);
  background-position: bottom;
}

.content-reserva div:first-child {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media only screen and (max-width: 768px) {

  .content-reserva {
    background-image: none;
  }

}